node_modules
.DS_Store
dist
.env
coverage
.vscode
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json
yarn.lock
.idea
*.iml
*.sublime-workspace
*.sublime-project
*.swp
*.swo
*.bak
*.tmp
*.log
*.pid
*.orig
*.swm
*.swn
*.swo